appdirs==1.4.3
dj-database-url==0.4.2
Django==1.10.3
django-formtools==1.0
django-haystack==2.5.1
django-markdown==0.8.4
django-oscar==1.4
django-tables2==1.6.0
django-treebeard==4.1.0
django-widget-tweaks==1.4.1
factory-boy==2.8.1
Faker==0.7.11
gunicorn==19.7.1
httplib2==0.9.2
pexpect==4.0.1
phonenumbers==8.4.2
Pillow==4.1.1
psycopg2==2.7.1
whitenoise==3.2.2